.container{
	border-top: 1px solid #AADCD2;
	background-color: #E8F5E9;
	text-align:center;
	margin:auto;
}

.container2{
	border-top: 1px solid #AADCD2;
	background-color: #F1F8E9;
	text-align:center;
	margin:auto;
}
