<div class="container">

  <div class="col-md-6" style="padding: 20px;">
    <button class="primary-btn"
                 [ngClass]="{'active-btn': !(btndisabled),'disabled-btn':(btndisabled)}"
            [routerLink]="['./addcontract']" >
      Add Contract
    </button>

    &nbsp;
    <button class="primary-btn"
                 [ngClass]="{'active-btn': !(btndisabled),'disabled-btn':(btndisabled)}"
            [routerLink]="['./searchcontract']" >
      Search Contract
    </button>
  </div>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>

</div>
