<div class="container">
  <h2>Add Contract</h2>
</div>

<form role="form" (submit)="newContractData()">

  <fieldset>


    <div class="form-group">
      <label for="hotelName1">Select Hotel </label>
      <select required class="form-control" [(ngModel)]="contractHotelId" name="hotelName1" >
        <option *ngFor="let hotel of hotels" name="hotelName1"  [ngValue]="this.hotel.hotelId">{{this.hotel.name}}</option>
      </select>
    </div>

    <mat-form-field>

      <label for="validfrom1">Valid from : </label>
      <input matInput [matDatepicker]="validfrom1" [min]="minDate" [max]="maxDate" [(ngModel)]="validFrom" [ngModelOptions]="{standalone: true}"  >
      <mat-datepicker-toggle [for]="validfrom1" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #validfrom1 startView="month"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <label for="validto">Valid to : </label>
      <input matInput [matDatepicker]="validto1" [min]="minDate" [max]="maxDate" [(ngModel)]="validTo" [ngModelOptions]="{standalone: true}" >
      <mat-datepicker-toggle [for]="validto1" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #validto1 startView="month"></mat-datepicker>
    </mat-form-field>

    <div class="form-group">
      <label for="markup1">Markup : </label>
      <input type="text"  name="markup1" placeholder="Enter markup " [(ngModel)]="markup" [ngModelOptions]="{standalone: true}" >
    </div>
    <div class="form-group">
      <label for="roomtype11">Room type 1: </label>
      <input type="text"  name="roomtype11" placeholder="Enter room type 1" [(ngModel)]="roomtype1" >
      <label for="description11">Description : </label>
      <input type="text"  name="description11" placeholder="Enter room type description" [(ngModel)]="description1">
      <label for="no11">Number of rooms : </label>
      <input type="number" name="no11" placeholder="Enter number of rooms" [(ngModel)]="no1">
      <label for="maxadults11">Max number of adults : </label>
      <input type="text"  name="maxadults11" placeholder="Enter max number of adults" [(ngModel)]="maxadults1">
      <label for="price11">Price : </label>
      <input type="number" step="any" name="price11" placeholder="Enter price" [(ngModel)]="price1">
    </div>
    <div class="form-group">
      <label for="roomtype22">Room type 2: </label>
      <input type="text"  name="roomtype22" placeholder="Enter room type 2" [(ngModel)]="roomtype2">
      <label for="description22">Description : </label>
      <input type="text"  name="description2" placeholder="Enter room type description" [(ngModel)]="description2">
      <label for="no22">Number of rooms : </label>
      <input type="number" name="no22" placeholder="Enter number of rooms" [(ngModel)]="no2">
      <label for="maxadults22">Max number of adults : </label>
      <input type="text"  name="maxadults22" placeholder="Enter max number of adults" [(ngModel)]="maxadults2">
      <label for="price22">Price : </label>
      <input type="number" step="any" name="price22" placeholder="Enter price" [(ngModel)]="price2">
    </div>
    <mat-divider></mat-divider>
    <input type="submit" value="submit">

  </fieldset>
</form>
