<div class="container" align="left">
  <h2>Search Contract</h2>
</div>

<form role="form" (submit)="newSearchContractData()">

  <fieldset>
    <div class="form-group" align="right">
      <label for="hotelId1" >Select Hotel </label>
      <select required class="form-control" [(ngModel)]="contractHotelId" name="hotelId1" >
        <option *ngFor="let hotel of hotels" name="hotelId1"  [ngValue]="this.hotel.hotelId">{{this.hotel.name}}</option>
      </select>
    </div>

    <mat-divider></mat-divider>
    <input type="submit" value="submit" style="float: right;">


  </fieldset>
</form>
<div clas="container" align="left">
  <h5>Search results:</h5>
  <ng-container *ngFor="let searchContractResult of searchContractResults">
    <div class="card mb-3" align="left">
      <div class="card-body" >

        <h5 class="card-subtitle text-muted">Hotel Name: {{searchContractResult.hotel.name}}</h5>
      </div>
      <!-- <img style="height: 200px; width: 50%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image"> -->
      <div class="card-body">
        <p class="card-text">This contract is valid from : {{searchContractResult.validFrom}} to {{searchContractResult.validTo}}</p>

      </div>


      <div class="card-footer text-muted">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewContract" style="float: right;">View Contract</button>
        <div class="modal" id="viewContract" data-backdrop="false">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">View Contract</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Contract with : {{searchContractResult.hotel.name}}</p>
                <p>Valid from : {{searchContractResult.validFrom}}</p>
                <p>Valid to : {{searchContractResult.validTo}}</p>
                <p>Markup : {{searchContractResult.markup}}</p>
                <p>Markup : {{searchContractResult.contractId}}</p>
                <p>Room types: </p>





                  <div class="modal-footer">

                    <p>Finished viewing?</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Yes</button>

                  </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
  </ng-container>
</div>


