<div class="container" align="left">
  <h2>Search Contract</h2>
</div>

<form role="form" (submit)="newSearchContractData()">

  <fieldset>

    <div class="form-group" align="right">
      <label for="hotelId2" >Select Hotel </label>
      <select required class="form-control" [(ngModel)]="contractHotelId" name="hotelId1" >
        <option *ngFor="let hotel of hotels" id="hotelId2" name="hotelId1"  [ngValue]="this.hotel.hotelId">{{this.hotel.name}}</option>
      </select>
    </div>

    <mat-divider></mat-divider>

    <input type="submit" value="submit" style="float: right;">

  </fieldset>

</form>

<div clas="container" align="left">
  <h5>Search results:</h5>
  <ng-container *ngFor="let searchContractResult of searchContractResults">

    <div class="card mb-3" align="left">
      <div class="card-body" >
        <h5 class="card-subtitle text-muted">Hotel Name: {{searchContractResult.hotel.name}}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">This contract is valid from : {{searchContractResult.validFrom}} to {{searchContractResult.validTo}}</p>
      </div>
      <div class="card-footer text-muted">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewContract" style="float: right;">View Contract</button>
        <div class="modal" id="viewContract" data-backdrop="false">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">View Contract</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Contract with : {{searchContractResult.hotel.name}}</p>
                <p>Valid from : {{searchContractResult.validFrom}}</p>
                <p>Valid to : {{searchContractResult.validTo}}</p>
                <p>Markup : {{searchContractResult.markup}}</p>
                <p>Room types: </p>

                <div class="modal-footer">

                  <p>Finished viewing?</p>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Yes</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
  </ng-container>
</div>


