<p>resulthotellist works!</p>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Hotel Name</th>
    <th scope="col">Description</th>
    <th scope="col">HotelId</th>
    <th scope="col">Price</th>
    <th scope="col">More details</th>


  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let hotel of hotels">
    <tr class="table-secondary">
      <th scope="row"> {{hotel.name}} </th>
      <td>{{hotel.description}}</td>
      <td>{{hotel.hotelId}}</td>
      <td>price</td>
      <td><button type="button" class="green" data-toggle="modal" (click)="moreDetails(hotel)" data-target="#moreDetails">View More</button>
        <div class="modal" id="moreDetails" data-backdrop="false">
          <div class="modal-dialog" >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">More Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">

                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th scope="col">Date of updation</th>
                      <th scope="col">Total Amount (LKR)</th>
                      <th scope="col">Amount Settled (LKR)</th>
                      <th scope="col">Amount Pending (LKR)</th>
                      <th scope="col">Due Date</th>
                      <th scope="col">Transaction Status</th>
                      <th scope="col">Description</th>
                      <th scope="col">Remarks</th>

                    </tr>

                    </thead>
                    <tbody>



                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">

                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </td>



    </tr>
    <mat-divider></mat-divider>
  </ng-container>


  </tbody>
</table>
























